<div id="content">
  <div class="shopify-section section4_bg flex">
    <div class="flex flex-col justify-center items-center my-24">
      <div class="flex">
        {{ section.settings.heading }}
      </div>
      <div class="flex flex-col">
        <div class="flex flex-row">
          <div class="flex flex-col items-start justify-start">
            <div>
              {{ section.settings.img_1 | image_url: width: 280 | image_tag }}
            </div>
            <h5>
              {{ section.settings.img_head_1 }}
            </h5>
            <p>
              {{ section.settings.img_desc_1 }}
            </p>
          </div>
          <div>
            <div>
              {{ section.settings.img_2 | image_url: width: 280 | image_tag }}
            </div>
            <h5>
              {{ section.settings.img_head_2 }}
            </h5>
            <p>
              {{ section.settings.img_desc_2 }}
            </p>
          </div>
          <div>
            <div>
              {{ section.settings.img_3 | image_url: width: 280 | image_tag }}
            </div>
            <h5>
              {{ section.settings.img_head_3 }}
            </h5>
            <p>
              {{ section.settings.img_desc_3 }}
            </p>
          </div>
        </div>
        <div>
          <div>
            <div>
              {{ section.settings.img_4 | image_url: width: 280 | image_tag }}
            </div>
            <h5>
              {{ section.settings.img_head_4 }}
            </h5>
            <p>
              {{ section.settings.img_desc_4 }}
            </p>
          </div>
          <div>
            <div>
              {{ section.settings.img_5 | image_url: width: 280 | image_tag }}
            </div>
            <h5>
              {{ section.settings.img_head_5 }}
            </h5>
            <p>
              {{ section.settings.img_desc_5 }}
            </p>
          </div>
          <div>
            <div>
              {{ section.settings.img_6 | image_url: width: 280 | image_tag }}
            </div>
            <h5>
              {{ section.settings.img_head_6 }}
            </h5>
            <p>
              {{ section.settings.img_desc_6 }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% style %}
  .section4_bg {
    background: {{ section.settings.bg4 }}
  }
{% endstyle %}

{% schema %}
  {
    "name": "Forth Section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "image_picker",
        "id": "img_1",
        "label": "Image 1"
      },
      {
        "type": "text",
        "id": "img_head_1",
        "label": "Image Heading 1"
      },
      {
        "type": "text",
        "id": "img_desc_1",
        "label": "Image Description 1"
      }, {
        "type": "image_picker",
        "id": "img_2",
        "label": "Image 2"
      }, {
        "type": "text",
        "id": "img_head_2",
        "label": "Image Heading 2"
      }, {
        "type": "text",
        "id": "img_desc_2",
        "label": "Image Description 2"
      }, {
        "type": "image_picker",
        "id": "img_3",
        "label": "Image 3"
      }, {
        "type": "text",
        "id": "img_head_3",
        "label": "Image Heading 3"
      }, {
        "type": "text",
        "id": "img_desc_3",
        "label": "Image Description 3"
      }, {
        "type": "image_picker",
        "id": "img_4",
        "label": "Image 4"
      }, {
        "type": "text",
        "id": "img_head_4",
        "label": "Image Heading 4"
      }, {
        "type": "text",
        "id": "img_desc_4",
        "label": "Image Description 4"
      }, {
        "type": "image_picker",
        "id": "img_5",
        "label": "Image 5"
      }, {
        "type": "text",
        "id": "img_head_5",
        "label": "Image Heading 5"
      }, {
        "type": "text",
        "id": "img_desc_5",
        "label": "Image Description 5"
      }, {
        "type": "image_picker",
        "id": "img_6",
        "label": "Image 6"
      }, {
        "type": "text",
        "id": "img_head_6",
        "label": "Image Heading 6"
      }, {
        "type": "text",
        "id": "img_desc_6",
        "label": "Image Description 6"
      }, {
        "type": "color",
        "id": "bg4",
        "label": "Background"
      }
    ],
    "presets": [
      {
        "name": "Forth Section",
        "category": "Text"
      }
    ]
  }
{% endschema %}