<div id="content">
  <script>
    let elements = document.getElementsByClassName(".globo-swatch-product-detail .swatch--gl li .globo-border-color-swatch:not(.globo-detail-border-style-none)");
    console.log(elements)
  </script>
  <div class="shopify-section flex justify-center items-center section2_bg font-moderat">
    <div class=" flex-row flex justify-between items-center relative w-full mx-28">
      {% if section.settings.thumb_1 != blank and section.settings.img_desc_1 != blank %}
        <div class="flex flex-col items-center justify-center my-32 w-1/5">
          <div class="flex">
            {{ section.settings.thumb_1 | image_url: width: 60 | image_tag }}
          </div>
          <div class="flex">
            {{ section.settings.img_desc_1 }}
          </div>
        </div>
      {% endif %}
      {% if section.settings.thumb_2 != blank and section.settings.img_desc_2 != blank %}
        <div class="flex flex-col items-center justify-center w-1/5 my-32">
          <div class="flex">
            {{ section.settings.thumb_2 | image_url: width: 60 | image_tag }}
          </div>
          <div class="flex">
            {{ section.settings.img_desc_2 }}
          </div>
        </div>
      {% endif %}
      {% if section.settings.thumb_3 != blank and section.settings.img_desc_3 != blank %}
        <div class="flex flex-col items-center justify-center w-1/5 my-32">
          <div class="flex">
            {{ section.settings.thumb_3 | image_url: width: 60 | image_tag }}
          </div>
          <div class="flex">
            {{ section.settings.img_desc_3 }}
          </div>
        </div>
      {% endif %}
      {% if section.settings.thumb_4 != blank and section.settings.img_desc_4 != blank %}
        <div class="flex flex-col items-center justify-center w-1/5 my-32">
          <div class="flex">
            {{ section.settings.thumb_4 | image_url: width: 60 | image_tag }}
          </div>
          <div class="flex">
            {{ section.settings.img_desc_4 }}
          </div>
        </div>
      {% endif %}
      {% if section.settings.thumb_5 != blank and section.settings.img_desc_5 != blank %}
        <div class="flex flex-col items-center justify-center w-1/5 my-32">
          <div class="flex">
            {{ section.settings.thumb_5 | image_url: width: 60 | image_tag }}
          </div>
          <div class="flex">
            {{ section.settings.img_desc_5 }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% style %}
  .section2_bg {
    background: {{ section.settings.bg2}}
  }
{% endstyle %}


{% schema %}
  {
    "name": "Second Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "thumb_1",
        "label": "Image 1"
      },
      {
        "type": "text",
        "id": "img_desc_1",
        "label": "Image Description 1"
      },
      {
        "type": "image_picker",
        "id": "thumb_2",
        "label": "Image 2"
      },
      {
        "type": "text",
        "id": "img_desc_2",
        "label": "Image Description 2"
      }, {
        "type": "image_picker",
        "id": "thumb_3",
        "label": "Image 3"
      }, {
        "type": "text",
        "id": "img_desc_3",
        "label": "Image Description 3"
      }, {
        "type": "image_picker",
        "id": "thumb_4",
        "label": "Image 4"
      }, {
        "type": "text",
        "id": "img_desc_4",
        "label": "Image Description 4"
      }, {
        "type": "image_picker",
        "id": "thumb_5",
        "label": "Image 5"
      }, {
        "type": "text",
        "id": "img_desc_5",
        "label": "Image Description 5"
      }, {
        "type": "color",
        "id": "bg2",
        "label": "Background"
      }
    ],
    "presets": [
      {
        "name": "Second Section",
        "category": "Text"
      }
    ]
  }
{% endschema %}