<div id="content">
  <div class="shopify-section">
    <div class="">
      <div class="">
        {{ section.settings.thumb_1 | image_url: width: 60 | image_tag }}
      </div>
      <div class="">
        {{ section.settings.img_desc_1 }}
      </div>
      <div class="">
        {{ section.settings.thumb_2 | image_url: width: 60 | image_tag }}
      </div>
      <div class="">
        {{ section.settings.img_desc_2 }}
      </div>
      <div class="">
        {{ section.settings.thumb_3 | image_url: width: 60 | image_tag }}
      </div>
      <div class="">
        {{ section.settings.img_desc_3 }}
      </div>
      <div class="">
        {{ section.settings.thumb_4 | image_url: width: 60 | image_tag }}
      </div>
      <div class="">
        {{ section.settings.img_desc_4 }}
      </div>
      <div class="">
        {{ section.settings.thumb_5 | image_url: width: 60 | image_tag }}
      </div>
      <div class="">
        {{ section.settings.img_desc_5 }}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Second Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "thumb_1",
        "label": "Image 1"
      },
      {
        "type": "text",
        "id": "img_desc_1",
        "label": "Image Description 1"
      },
      {
        "type": "image_picker",
        "id": "thumb_2",
        "label": "Image 2"
      },
      {
        "type": "text",
        "id": "img_desc_2",
        "label": "Image Description 2"
      }, {
        "type": "image_picker",
        "id": "thumb_3",
        "label": "Image 3"
      }, {
        "type": "text",
        "id": "img_desc_3",
        "label": "Image Description 3"
      }, {
        "type": "image_picker",
        "id": "thumb_4",
        "label": "Image 4"
      }, {
        "type": "text",
        "id": "img_desc_4",
        "label": "Image Description 4"
      }, {
        "type": "image_picker",
        "id": "thumb_5",
        "label": "Image 5"
      }, {
        "type": "text",
        "id": "img_desc_5",
        "label": "Image Description 5"
      }, {
        "type": "color",
        "id": "background",
        "label": "Background"
      }
    ],
    "presets": [
      {
        "name": "Second Section",
        "category": "Text"
      }
    ]
  }
{% endschema %}