<div id="content">
  <div class="shopify-section">
    <div class="container aboutus">
      <header>
        <h1>{{ section.settings.heading }}</h1>
      </header>
      <div class="video">
        <div class="responsive-video">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/xxxxxxx"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="textcontent">
        {{ section.settings.textcontent }}
      </div>
      <div class="mission">
        <img src="{{ section.settings.missionimage | img_url: "520x" }}" />
        <ul>
          {% for block in section.blocks %}
            <li>
              <h3>{{ block.settings.statement }}</h3>
              <p>{{ block.settings.statementtext }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="creds">
      {{ block.settings.cred }} {{ block.settings.text2 }}
    </div>
    <div class="pageBanner">
      <div class="bannerText">
        <h2>{{ section.settings.bannerline1 }}</h2>
        <p>{{ section.settings.bannerline2 }}</p>
      </div>
      <img src="{{ section.settings.bannerimage | img_url: "520x" }}" />
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Second Section",
    "settings": [
      {
        "id": "cta_1_title",
        "type": "text",
        "label": "CTA 1 Title",
        "default": "Dryups Specials"
      }
    ],
    "presets": [
      {
        "name": "Second Section",
        "category": "Text"
      }
    ]
  }
{% endschema %}