<div id="content">
  <div class="shopify-section flex justify-center items-center section3_bg font-[Moderati]">
    <div class="flex flex-row justify-between items-center w-full mx-44 relative my-24">
      <div class="flex flex-col justify-start items-start min-w-1/2 relative">
        <div class="text-[60px] leading-none mb-5 font-bold font-[Moderati] text-soft-black">
          {{ section.settings.heading }}
        </div>
        <div class="mr-28 text-[18px] leading-[150%] font-[Moderati] text-soft-black">
          {{ section.settings.heading_desc }}
        </div>
      </div>
      <div class="flex flex-col justify-center items-start min-w-1/2 mx-20 ml-40 pr-40">
        <div class="mx-20 my-9">
          <div class="font-bold text-[17px] leading-[20px] mb-3 tracing-[0.02em] text-soft-black">
            <h4>{{ section.settings.label_1_head }}</h4>
          </div>
          <div class="text-[18px] leading-[27px] tracing-[0.02em] text-soft-black">
            <span>{{ section.settings.label_1_desc }}</span>
          </div>
        </div>
        <div class="mx-20 my-9">
          <div class="font-bold text-[17px] leading-[20px] mb-3 tracing-[0.02em] text-soft-black">
            <h4>{{ section.settings.label_2_head }}</h4>
          </div>
          <div class="text-[18px] leading-[27px] tracing-[0.02em] text-soft-black">
            <span>{{ section.settings.label_2_desc }}</span>
          </div>
        </div>
        <div class="mx-20 my-9">
          <div class="font-bold text-[17px] leading-[20px] mb-3 tracing-[0.02em] text-soft-black">
            <h4>{{ section.settings.label_3_head }}</h4>
          </div>
          <div class="text-[18px] leading-[27px] tracing-[0.02em] text-soft-black">
            <span>{{ section.settings.label_3_desc }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% style %}
  .section3_bg {
    background: {{ section.settings.bg3 }}
  }
{% endstyle %}

{% schema %}
  {
    "name": "Third Section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "heading_desc",
        "label": "Heading description"
      },
      {
        "type": "text",
        "id": "label_1_head",
        "label": "Label 1 Heading"
      },
      {
        "type": "text",
        "id": "label_1_desc",
        "label": "Label 1 Description"
      }, {
        "type": "text",
        "id": "label_2_head",
        "label": "Label 2 Heading"
      }, {
        "type": "text",
        "id": "label_2_desc",
        "label": "Label 2 Description"
      }, {
        "type": "text",
        "id": "label_3_head",
        "label": "Label 3 Heading"
      }, {
        "type": "text",
        "id": "label_3_desc",
        "label": "Label 3 Description"
      }, {
        "type": "color",
        "id": "bg3",
        "label": "Background",
        "default": "rgb(234,231,231)"
      }
    ],
    "presets": [
      {
        "name": "Third Section",
        "category": "Text"
      }
    ]
  }
{% endschema %}