<div id="content">
  <div class="shopify-section flex justify-center items-center section3_bg">
    <div class="flex flex-row w-full mx-20 relative">
      <div class="flex flex-col justify-center items-center w-1/2">
        <div>
          {{ section.settings.heading }}
        </div>
        <div>
          {{ section.settings.heading_desc }}
        </div>
      </div>
      <div class="flex flex-col justify-center items-center w-1/2">
        <div>
          <div>
            <h5>{{ section.settings.label_1_head }}</h5>
          </div>
          <div>
            <span>{{ section.settings.label_1_desc }}</span>
          </div>
        </div>
        <div>
          <div>
            <h5>{{ section.settings.label_2_head }}</h5>
          </div>
          <div>
            <span>{{ section.settings.label_2_desc }}</span>
          </div>
        </div>
        <div>
          <div>
            <h5>{{ section.settings.label_3_head }}</h5>
          </div>
          <div>
            <span>{{ section.settings.label_3_desc }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% style %}
  .section3_bg {
    background: {{ section.settings.bg3 }}
  }
{% endstyle %}

{% schema %}
  {
    "name": "Third Section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "heading_desc",
        "label": "Heading description"
      },
      {
        "type": "text",
        "id": "label_1_head",
        "label": "Label 1 Heading"
      },
      {
        "type": "text",
        "id": "label_1_desc",
        "label": "Label 1 Description"
      }, {
        "type": "text",
        "id": "label_2_head",
        "label": "Label 2 Heading"
      }, {
        "type": "text",
        "id": "label_2_desc",
        "label": "Label 2 Description"
      }, {
        "type": "text",
        "id": "label_3_head",
        "label": "Label 3 Heading"
      }, {
        "type": "text",
        "id": "label_3_desc",
        "label": "Label 3 Description"
      }, {
        "type": "color",
        "id": "bg3",
        "label": "Background",
        "default": "rgb(234,231,231)"
      }
    ],
    "presets": [
      {
        "name": "Third Section",
        "category": "Text"
      }
    ]
  }
{% endschema %}